
        .body{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
        }
        .main{
            background-color: #17262b;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 40px;
            padding-bottom: 80px;

        }
        .design-coner{
            top: -20;
            left: -10;
            transform: rotateY(180deg);
            position: absolute;
            background-image: url("download.svg");
            width: 700px;
            height: 700px;
            background-size: 700px 700px;
            background-repeat: no-repeat;
        }
        .design-top{
            top: 0%;
            position: absolute;
            width: 84%;
            height: 107px;
            background-size: 100% 107px;
            background-image: url("download\ \(1\).svg");
            background-repeat: no-repeat;
            
            
        }
        .profile-img{
            right: 12px;
            top: 10px;
            display: flex;
            position: absolute;
            border-radius: 50px 0px;
            width: 480px;
            height: 470px;

        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        .img-1 {
            
            display: flex;
            width: 80%;
            height: 500px;
            background-color: rgba(0, 255, 255, 0.007);
            top: 130px;
            right: 230px;
            position: absolute;
            

        }
        .img-2{
            top: 130px;
            width: 480px;
              display: flex;
            background-color: rgba(250, 235, 215, 0.025);
              height: 470px;
              right: 230px;
              position: absolute;
              border-radius: 80px 0px;
        }
        .triangle-img{
            background-image: url("triangle.svg");
            left: 0;
            right: 0;
            bottom: 0;
            position:absolute;
            width: 100%;
            height: 100px;
            background-size: 100% 100px;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        @media (max-width : 1850px){
            .design-coner{
                padding: 0 0%;
                transition: .2s;
            }
            .design-top{
                padding: 0 8%;
                transition: .2s;
            }
            .profile-img{
                left: 0%;
                transition: 02s;
            }
        }
        @media (max-width : 500px){
            .design-coner{
                padding: 0 -28px;
                transition: .2s;
                width: 350px;
            }
            .design-top{
                padding: 0 0%;
                transition: .2s;
            }
            .img-2{
                left: 25px;
                right: 0;
                top: 125px;
                transition: 2s;
                width: 350px;
                height: 400px;
            }
            .profile-img{
                align-items: center;
                width: 350px;
                height: 400px;
            }
            .main{
                width: 450px;
                height: 700px;
            }
        }
        .profile-img {
            animation: imggc 2s ease-in-out infinite;
            animation-delay: 2s;
        }
        @keyframes imggc {
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-10px);
            }
            100%{
                transform: translateY(0);
            }
        }
        .text-box{
            top: 125px;
            left: 150px;
            color: rgb(233, 246, 231);
            width: 350px;
            height: 500px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
        .profile-text span{
            padding: 15px 35px;
            background: linear-gradient(130.08deg, #233939 0% ,#f0d5d5 100%);
            box-shadow: 0px 20px 40px #00000070;
            border: 1px solid#3b3b3b;
            border-radius: 100px;
            position: absolute;
            top: 50px;
            align-items: center;
            font-size: 15px;
        }
        .profile-text h1{
            font-size: 70px;
            margin: 23px 0;
        }
        .main-2{
            background-color: #151e21;
            width: 100%;
            height: 20%;
            position: absolute;
            padding-top: 500px;
            padding-bottom: 200px;
            top: 833px;
            left: 0;

        }
        .main-3{
            width:100% ;
            height: 80%;
            background-color: #17262b;
            top: 1598px;
            position: absolute;
            left: 0;
            padding-bottom: 300px;
        }
        .main-4{
            width:100% ;
            height: 80%;
            background-color:#17262b;
            top: 2250px;
            position: absolute;
            left: 0;
            padding-bottom: 520px;
        }
        .about{
            width: 510px;
            height: 490px;
            position: absolute;
            background-color: rgba(18, 28, 28, 0.136);
            top: 100px;
            left: 200px;
        }
        .box{
            width: 450px;
            height: 450px;
            position: absolute;
            background-color: #32383a8f;
            bottom: 10px;
            right: 25px;
            border-radius: 40px 0px;
        }
        .about-img{
            width: 450px;
            height: 450px;
            position: absolute;
            border-radius: 40px 0px;
            top: -1px;
            left: 3px;
        
        }
        .text-about{
           width: 510px;
            height: 490px;
            position: absolute;
            background-color: rgba(18, 28, 28, 0);
            top: 80px;
            right: 200px; 
        }
        .text-about h1{
            color: white;
            font-size: 65px;
        }
        .text-about p{
            color: white;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            color:rgb(159, 174, 176) ;
        }
        .btn-1 {
            border: rgb(193, 179, 91);
            background-color: #44535405;
            color: antiquewhite;
            size: 50px;
            top: 98%;
            border-radius: 50px 50px 50px 50px;
            border-width: 1px;
            border-style: solid;
            border-color: #fee5b5;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 35px;
            padding-right: 35px;
            text-decoration: none;
            justify-content: center;
            font-size: 18px;
            line-height: 18px;
            margin-top: 40px;
            transition: 299ms;
            
            
        }
        .btn {
            width: 550px;
            height: 550px;
            left: 630px;
            top: 665px;
            position: absolute;

        }
        .main-2 button:hover{
            background-color: #fee5b5;
            color: black;
        }
        .rect{
            width: 50px;
            height: 50px;
            color: #fee5b5;
            top: 50%;
            position: absolute;
            left: 50%;
        }
        .text-heading{
            font-size: 70px;
            font-family: 'Times New Roman', Times, serif;
            color: #fee5b5;
            text-align: center;
            padding-top: 5px;
        }
        .container{
            position: relative;
            width: 100%;
            height: 500px;
            background-color: #17262b;
            display: flex;
            flex-direction: row;
            top: 100px;
           
            

        }
        .container1{
            position: relative;
            width: 100%;
            height: 700px;
            background-color: #17262b;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            top: 120px;
            padding-left: 15px;
           
            

        }
        .con-1{
            width: 18%;
            height: 330px;
            background-color:rgba(48, 69, 71, 0.884);
            position: relative;
            padding-right: 40px;
            padding-top: 30px;
            top: 19px;
            left: 170px;
            justify-items: space-between;
            margin: 40px;
            border-radius: 10% 0%;
        }
        .con-2{
            width: 109%;
            height: 330px;
            background-color:rgb(6, 6, 6);
            position: relative;
            padding-right: 10px;
            padding-top: 30px;
            top: -63px;
            left: -30px;
            justify-items: space-between;
            margin: 20px;
            border-radius: 10% 0%;
        }
        .con-2 p{
            text-align: center;
            color: rgb(241, 251, 189);
            padding-top: 50px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
            font-size: 18px;
        }
        .con-2 h1{
            text-align: center;
            color: rgb(255, 255, 255);
            padding-top: 50px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
            font-size: 23px;
        }
        .con-11{
            width: 11%;
            height: 205px;
            background-color:rgba(48, 69, 71, 0.884);
            position: relative;
            padding-right: 40px;
            padding-bottom: 50px;
            top: 19px;
            left: 100px;
            justify-items: space-between;
            margin: 30px;
            border-radius: 10% 0%;
        }
        .con-22{
            width: 95%;
            height: 170px;
            background-color:rgb(6, 6, 6);
            position: relative;
            padding-right: 35px;
            padding-bottom: 35px;
            top: -30px;
            left: -43px;
            justify-items: space-between;
            margin: 20px;
            border-radius: 10% 0%;
            align-items: center;


        }
        .dot{
            height: 40px;
            width: 40px;
            background-color: rgba(251, 248, 171, 0);
            border-radius: 50%;
            display: inline-block;
            left: 5px;
            top: 20px;
            position: relative;
            
        }
        .img_size{
            height: 40px;
            width: 40px;
            background-color: rgba(222, 215, 19, 0.855);
            display: inline-block;
            border-radius: 50%;
            left: -2px;
            top: 1px;
            position: relative;
        }
        .con-22, h5{
            font-size: 19px;
            padding-top: 50px;
            padding-left: 25px;
            text-align: center;
            color: rgb(255, 255, 255);
        }
        .con-22 p , h1{
            text-align: center;
            color: aliceblue;
        }
        .main-5{
            width:100% ;
            height: 50px;
            background-color:#17262b;
            top: 3300px;
            position: absolute;
            left: 0;
            padding-bottom: 650px;
        }
        .container11{
            position: relative;
            width: 100%;
            height: 600px;
            background-color: #17262b;
            display:flex;
            flex-direction:column;
            align-items: center;

        }
        .con-111{
            width: 72%;
            height: 180px;
            background-color:rgba(43, 55, 56, 0.901);
            position: relative;
           top: 50px;
            justify-items: space-between;
            margin: 50px;
            border-radius: 20px 0px;   
                 }
        .con-222{
            width: 100%;
            height: 180px;
            background-color:rgb(11, 18, 19);
            position: relative;
            top: -15px;
            left: -15px;
            justify-items: space-between;
            display: flex;
            flex-direction: row;
            border-radius: 20px 0px;
        }
        .image1{
            width: 30%;
            
            
        }
        .image{
            width: 70%;
            height: 60%;
            left: 50px;
            padding-top: 37px;
            padding-left: 70px;

        }
        .company_name{
            width: 35%;
            height: 30%;
            padding-top: 30px;
            padding-left: 30px;            
        }
        .comp_data{
            width: 30%;
            height: 59%;
            padding-left: 50px;
            padding-top: 30px;
        }
        .company_name , h1{
            font-size: 19px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: left;
        }
        .company_name , h2{
            font-size: 17px;
            color: #fee5b5;
        }
        .company_name , h3{
            font-size: 15px;
            color: #fcf8f1;
        }
        .company_name , h4{
            font-size: 15px;
            color: #bebab3;
        }
       